<p-growl [(value)]="msgs"></p-growl>
<div class="ui-grid ui-grid-responsive">
  <div style="width: 140px; height: 200px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <img src="{{ viewItem.image128}}"
             pTooltip={{viewItem.description}} tooltipPosition="bottom"
             placeholder="Bottom"
             (click)="showDialog()">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">{{ viewItem.name}}</div>
    </div>
  </div>
</div>
<p-dialog header="'Details for:' {{viewItem.name}}" [(visible)]="display"
          modal="modal" width="800" height="700" [responsive]="true">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      <p>Description: {{viewItem.description}}</p>
      <p>Developer : {{viewItem.dev_name}}
      <p>Uploaded : {{viewItem.time_uploads}}
      <p> Download {{viewItem.downloads}} times</p>
      <p> Rating <p-rating [ngModel]="viewItem.rating" readonly="true" stars="10"></p-rating> </p>
    </div>
    <div class="ui-grid-col-4">
      <img src="{{ viewItem.image512}}">
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-download" (click)="downloadApk(viewItem.id)" label="Download" ></button>
    <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
  </p-footer>
</p-dialog>
